
@media screen and (max-width: 768px) {

.userform{
    margin: 0.1rem 1.2rem;
}
.accDetails-header{
    color: #1c4e9a;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 18px;
}
.userdetails{
    font-weight: 700;
    font-size: 22px;
    background-color:#d3d3d33b;
    border-radius:8px;
    padding: 2rem .5rem;
    box-shadow: 0px 1px 10px #c7c7c7;
    margin-bottom: 1rem;
}
}